body {
  font-family: sans-serif;
  background-color: rgb(203, 203, 203);
}

h1 {
  font-size: 70px;
  margin-left: 90px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  margin-left: -34px;
  color: rgb(120, 114, 114);
  font-size: 18px;
  font-weight: 200;
  height: 25px;
  list-style: none;
}

.col-3 {
  font-size: 20px;
  height: 40px;
  line-height: 30px;
  margin-left: 5px;
  margin-top: 30px;
}
.temperature {
  font-size: 70px;
  font-weight: 300;
}
.search-form {
  font-size: 28px;
  height: 60px;
  line-height: 30px;
  margin-left: 80px;
  margin-top: 30px;
}

.weather-wrap {
  background-color: rgb(199, 220, 220);
  border: 1px solid rgb(205, 200, 200);
  border-radius: 2%;
  margin: 30px auto;
  max-width: 600px;
  padding: 20px;
}
.units {
  position: relative;
  top: -35px;
  left: 5px;
}
.explanation {
  color: rgb(147, 141, 141);
}

.weather-temperature .active {
  color: rgb(71, 70, 70);
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  cursor: default;
}
.weather-forecast {
  font-size: 20px;
  font-weight: 100;
  margin-top: 20px;
  text-align: center;
  color: rgb(48, 46, 46);
}
.forecast-date {
  font-size: 18px;
  opacity: 0.9;
}
.forecast-temperature {
  font-size: 14px;
}
.forecast-temperature-min {
  opacity: 0.7;
}
.identification {
  margin-left: 250px;
}
